<h1>VCU Courses</h1>


 
    <% @course.each do |course| %>
    <div class="row">
      <div class="course_container">
        <ul>
        <li><h3><%= link_to "#{course.name}", course, id: "course_name" %></h3></li>
        <div class="right small-3 small-offset-1 columns crud_links">
        <li><%= link_to 'Edit', edit_course_path(course) %></li>| 
        <li><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></li>
        </div>
      </ul>
    </div>
  </div>
    <% end %>
 


<br>

<%= link_to 'New Course', new_course_path %>
